# Default ignored files
/shelf/
/workspace.xml
# ------------------------
# Arduino 빌드/출력 파일
# ------------------------
/build/
*.hex
*.elf
*.bin
*.eep

# ------------------------
# OS/IDE 임시 파일
# ------------------------
*.swp
*.swo
.DS_Store

# ------------------------
# 기타
# ------------------------
*.log